In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv("trial_25.csv")

In [ ]:
import pandas as pd
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.feature_extraction.text import TfidfVectorizer

# Create a new TfidfVectorizer object and fit it on concatenated list of job descriptions and resumes
tfidf_vectorizer = TfidfVectorizer(stop_words='english')
jd_and_resumes = df['JobDescription'].tolist() + df['ResumeText'].tolist()
tfidf_vectorizer.fit(jd_and_resumes)

# Transform the job descriptions and resumes using the vectorizer
jd_tfidf = tfidf_vectorizer.transform(df['JobDescription'])
resume_tfidf = tfidf_vectorizer.transform(df['ResumeText'])

# Compute the cosine similarity between each job description and its corresponding resume
df['cosine_sim'] = [cosine_similarity(jd_tfidf[i], resume_tfidf[i])[0][0] for i in range(len(df))]
out_df = df.sort_values('cosine_sim', ascending=False)

In [ ]:
out_df.head()

,JobDescription,ResumeText,cosine_sim
15,department: technology\nemployment type: full ...,"sai poojitha konduparti\nboston, ma • • • •\...",0.253892
23,"work to be performed onsite in chattanooga, tn...","vraj mashruwala\nboston, ma 0\neducation\nnort...",0.203960
3,Qualifications\n•\nFive (5) or more years of p...,CONTACT dyonteblake4@email.com (123) 456-7890 ...,0.182997
11,to power smart mobility for every driver and v...,"sai poojitha konduparti\nboston, ma • • • •\...",0.153042
10,to power smart mobility for every driver and v...,"vraj mashruwala\nboston, ma 0\neducation\nnort...",0.144574

In [ ]:
job_ids = out_df["Job ID"]

In [ ]:
job_ids.head(3)

9     3587949294
10    3582154016
5     3584225465
Name: Job ID, dtype: int64